@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global font settings */
* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  
   /* Default font-weight, you can change this to any value you want */
  font-style: normal;  /* Default font-style */
}

/* If you want to apply specific font-weight globally, you can adjust it here */
/* body {
  font-weight: 400;  
} */
